# Python
__pycache__/
*.pyc
*.pyo


# Virtual environment
.venv/


# Kivy logs
*.log


# IDE
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db
build/
dist/
release/FocusDeck
*.spec
build/
dist/
release/
build/
dist/
release/
*.spec
